@model IEnumerable<ExpenseWeb.Models.ExpenseListViewModel>




<table>
    <thead>
        <tr>
            <th>Bedrag</th>
            <th>Datum</th>
            <th>Beschrijving</th>
            <th>Category</th>
            <th>Payment status</th>
            <th>Opties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr>
                <td>
                    €@expense.Amount 
                </td>
                <td>
                    @expense.Date.ToShortDateString()
                </td>
                <td>
                    @expense.Description
                </td>
                <td>
                    @expense.Category
                </td>
                <td>
                    @expense.PaymentStatus
                </td>
                <td>
                    <a asp-controller="expense" asp-action="Edit" asp-route-id="@expense.Id"> Edit</a> |
                    <a asp-controller="expense" asp-action="Delete" asp-route-id="@expense.Id"> Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    td, th {
    padding-left:20px;
    }

</style>